@import url('https://fonts.googleapis.com/css2?family=B612:ital@1&family=Belanosima:wght@400;600&family=Karla&display=swap');

html {
    color: rgb(57, 131, 173);
    background-color: black;
    font-family: 'B612', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Belanosima', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.book-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book-box{
    margin: 10px;
}

li {
    list-style: none;
}


.login-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


